/* A partial scss file for mixins */
@mixin shape($w, $h, $bg-color) {
    width: $w;
    height: $h;
    background-color: $bg-color;
}

@mixin border-stroke($val) {
    @if $val =="light" {
        border: 1px solid black;
    }

    @else if $val =="medium" {
        border: 3px solid black;
    }

    @else if $val =="heavy" {
        border: 6px solid black;
    }

    @else {
        border: none;
    }
}